/*
!/slooper
!/slooper/*
!/slooper/app
!/slooper/app/*

!/slooper/app/static
/slooper/app/static/*

!/slooper/app/static/css
/slooper/app/static/css/*
!/slooper/app/static/css/style.css

!/slooper/app/static/js
/slooper/app/static/js/*
!/slooper/app/static/js/script.js

!/slooper/app/templates