<!DOCTYPE html>
<html lang="en">
<head>
    <title>Looper</title>
    <link rel="icon" href="/static/favicon.svg" />
    <script src="/static/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #eeeeee;
        }

        /* overlay from https://www.w3schools.com/howto/howto_css_overlay.asp */
        #recordStop {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.7);
          cursor: pointer;
        }

        #recordStop > div {
            font-size: 5vw;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .shortcut {
            color: rgba(0.7, 0.7, 0.7, 1);
        }
    </style>
</head>
<body>
    <h1>🔁 Looper</h1>
    <button type="button" onclick="poweroff()"><i class="fa fa-power-off" aria-hidden="true"></i> Poweroff</button>
    <p><b>Stream</b>: <span id="stream"></span></p>

    <p><b>Recordings</b></p>
    <table id="recordings">
        <thead>
            <tr>
                <th>ID</th>
                <th>State</th>
                <th>Volume</th>
                <th>Time [s]</th>
                <th>Playblack</th>
                <th>Length [s]</th>
                <th>Control</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button type="button" onclick="pauseAll()">Pause all</button>

    <form id="recordForm">
        <p><b>Add new recording</b> <span class="shortcut">(<i class="fa fa-keyboard-o"></i> space)</span></p>
        <label for="recordName">[Optional] Name</label> <input id="recordName" type="text" value="">
        <br>
        <button type="button" id="record">Record</button>
        <button type="button" id="recordLoop">Record and Loop</button>
    </form>
    <div id="overlay"></div>

    <div id="recordStop" style="display:none;">
        <div id="recordStopText">Stop Recording</div>
    </div>
    <br>
</body>
<script>
    var lastState = null;
    var lastStateTime = null;
    var dirtyState = false;
    var isUpdating = false;
    var nextKey = null;

    var rows = {};

    function update() {
        if (isUpdating) {
            return;
        }

        isUpdating = true;
        dirtyState = true;

        // get status and update DOM
        $.get("/status", function(data) {
            lastState = JSON.parse(data);
            lastStateTime = new Date();
            // get new key
            const keys = Object.keys(lastState.recordings);
            if (keys.length > 0) {
                nextKey = Math.max(...Object.keys(lastState.recordings).map(Number)) + 1;
            }
            else {
                nextKey = 0;
            }
            updateRecordingsTable();
            dirtyState = false;
            isUpdating = false;
        }).fail(function() {
            isUpdating = false;
        });
    }

    function createRow(key) {
        var row = document.createElement("tr");
        row.key = key;
        row.innerHTML = `
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td style="text-align: center;"><input type="range" min="0" max="1" value="0" step="any" key='${key}'></td>
            <td></td>
            <td><input type='button' name='loopKeyButton' key='${key}'></td>
            <td><form method="get" action="/download/${key}"><button type="submit">Download</button></form></td>
            <td><input type='button' name='deleteButton' key='${key}' value="Delete">`;
        return $(row);
    }

    function updateRecordingsTable() {
        if (lastState == null) {
            return;
        }

        if (lastState.stream.active) {
            $("#stream").html(`
                sample rate ${lastState.stream.samplerate}, 
                device (${lastState.stream.device}), 
                processing time [ms] 
                    ${(lastState.stream.duration_stats.mean * 1000).toFixed(2)} ± ${(lastState.stream.duration_stats.std * 1000).toFixed(2)} 
                    (99p: ${(lastState.stream.duration_stats['99p'] * 1000).toFixed(2)},
                    max: ${(lastState.stream.duration_stats['max'] * 1000).toFixed(2)})
            `);
        }
        else {
            $("#stream").html(`<b>not active</b>`);
        }

        // new keys in the state => add
        var newKeys = [];
        // unused keys in the rows => remove
        var unusedKeys = Object.keys(rows);
        for (const key of Object.keys(lastState.recordings)) {
            if (key in rows) {
                unusedKeys.splice(unusedKeys.indexOf(key), 1);
            }
            else {
                newKeys.push(key);
            }
        }

        // remove unused rows from DOM
        for (const key of unusedKeys) {
            rows[key].remove();
            delete rows[key];
        }

        // create new rows
        for (const key of newKeys) {
            rows[key] = createRow(key);
            $("#recordings > tbody").append(rows[key]);
        }

        // update table values
        for (const [key, recording] of Object.entries(lastState.recordings)) {
            var length = recording.length / lastState.stream.samplerate;
            var time = recording.frame / lastState.stream.samplerate;
            if (recording.state == 'record') {
                // interpolate length
                length += (new Date() - lastStateTime) / 1000;
            }
            if (recording.state == 'loop') {
                // interpolate time
                time += (new Date() - lastStateTime) / 1000;
                time = time % length;
            }

            // update values
            var row = rows[key];
            const id = key + (recording.name == '' ? '' : ':' + recording.name);
            $("td:nth-child(1)", row).html(`${id}`);
            $("td:nth-child(2)", row).html(`${recording.state}`);
            $("td:nth-child(3)", row).html(`${recording.volume}`);
            $("td:nth-child(4)", row).html(`${time.toFixed(2)}`);
            if (recording.state != 'pause') {
                $("td:nth-child(5) > input", row).val(time / length);
            }
            $("td:nth-child(6)", row).html(`${length.toFixed(2)}`);
            $("td > input[name='loopKeyButton']", row).val(recording.state == 'loop' ? 'Pause' : 'Loop');
        }
    }

    function setPlaybackTime(key, time) {
        // set frame
        const frame = Math.floor(time * (lastState.recordings[key].length - 1));
        $.get("/set-frame/" + key + "/" + frame, function() {
            update();
        });
    }

    $('#recordings').on('click', "tbody > tr > td > input[name='loopKeyButton']", function(e) {
        e.preventDefault();
        const target = $(e.target);
        loopKey(target.attr('key'));
    });

    $('#recordings').on('click', "tbody > tr > td > input[name='deleteButton']", function(e) {
        e.preventDefault();
        const target = $(e.target);
        deleteKey(target.attr('key'));
    });

    $('#recordings').on('click', "tbody > tr > td > input[type='range']", function(e) {
        // TODO: Disable animation on hover / click to get desired target value & set slider & frame accordingly
        setPlaybackTime($(e.target).attr('key'), $(e.target).val());
    });

    function loopKey(key) {
        if (dirtyState) {
            return;
        }

        const state = lastState.recordings[key].state;
        if (state == "pause") {
            $.get("/loop/" + key, function( data ) {
                update();
            });
        }
        else if (state == "loop") {
            $.get("/pause/" + key, function( data ) {
                update();
            });
        }
    }

    function deleteKey(key) {
        if (dirtyState) {
            return;
        }

        $.get("/delete/" + key, function(data) {
            update();
        });
    }

    function pauseAll() {
        $.get("/pause", function(data) {
            update();
        });
    }

    function poweroff() {
        $.get("/poweroff", function(data) {});
    }

    var currentRecordingKey = null;
    var loopAfterRecord = false;

    $("#record").click(function(){
        loopAfterRecord = false;
        recordStart();
    });

    $("#recordLoop").click(function(){
        loopAfterRecord = true;
        recordStart();
    });

    $("#recordStop").click(function(){
        recordStop();
    });

    function recordStart() {
        if (currentRecordingKey != null) {
            return;
        }
        const key = nextKey;
        currentRecordingKey = key;
        const name = $('input[id="recordName"]').val();
        // TODO: Error handling...
        $.get("/delete/" + key, function(data) {
            if (name != '') {
                $.get("/set-name/" + key + "/" + name, function() {});
            }
            $.get("/record/" + key, function(data) {
                // we started recording
                isRecording = true;
                $("#recordForm").hide();
                $("#recordStop").show();
                update();
            });
        });
    }

    function recordStop() {
        if (currentRecordingKey == null) {
            return;
        }
        const key = currentRecordingKey;
        const action = loopAfterRecord ? "/loop/" : "/pause/";
        $.get(action + key, function(data) {
            // we stopped recording
            isRecording = false;
            $("#recordForm").show();
            $("#recordStop").hide();
            update();
            currentRecordingKey = null;
        });
    }

    $('body').keyup(function(e){
       // space
        if(e.keyCode == 32){
            if (currentRecordingKey == null) {
                loopAfterRecord = true;
                recordStart();
            }
            else {
                recordStop();
            }
        }
    });

    setInterval(() => {
        updateRecordingsTable();
    }, 50);

    setInterval(() => {
        update();
    }, 2500);
    update();
</script>
</html>